
.navbar {
  background-color: #1c74d4;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  background: linear-gradient(to right, #f0f0f0 , #1c74d4); /* Utiliza los colores degradados que prefieras */
  display: flex;

  color: #fff; /* Define un color de texto adecuado para hacer contraste con el fondo */
  /* Resto de los estilos de la barra de navegación... */
}

/* Estilos adicionales para el botón de logout */
.logout-button {
  background-color: #144d7a ; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  padding: 8px 16px; /* Espaciado interno del botón */
  border: none; /* Elimina el borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  font-size: 14px; /* Tamaño del texto */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

/* Cambia el color de fondo al pasar el ratón */
.logout-button:hover {
  background-color: #ffffff;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: #ffffff;
  align-items: center;
  margin-left: 20px;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.3s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #ffffff;
}

.nav-item .active {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item .active {
    color: #ffffff;
    border: none;
  }

  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffffff;
  }
}
